<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Pierre's Sweet & Savory Bakery</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="~/css/styles.css" />
</head>

<body>
  @RenderBody()
</body>
<footer>
  <p>
    <div class='entryLabel propertyLabel'>
      Main Links
    </div>
    <div class='property'>
      <p>@Html.ActionLink("See all Flavors", "Index", "Flavors")</p>
      <p>@Html.ActionLink("See all Treats", "Index", "Treats")</p>
      @if(User.Identity.IsAuthenticated)
      {
        @Html.ActionLink("Account", "Index","Accounts")
      }
      else{
            <P>@Html.ActionLink("Log In", "Login","Accounts")</P>
            <P>@Html.ActionLink("Register", "Register","Accounts")</P>
          }
      </div>
      </p>
</footer>

</html>