@{
  Layout = "_Layout";
}

@model SweetSavory.Models.Flavor;

<div class='jumbotron'>
  <h2>Flavor Details</h2>
</div>

<div class="">
  <div class='entryLabel'>
    <h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
  </div>

  <div class=' entry'>
    <hr />
    @if(@Model.Treats.Count == 0)
    {
      <p>This Flavor is not available in anything yet. :(</p>
    }
    else
    {
      <h4>Treats this flavor is available in:</h4>
      <ul>
        @foreach(var join in Model.Treats)
        {
          <li>@Html.ActionLink($"{join.Treat.Description}", "Details", "Treats", new {id=join.TreatId})</li>
        }
      </ul>
    }
  </div>
</div>
  @if(User.Identity.IsAuthenticated)
  {
    <div class='entryLabel propertyLabel'>
      Flavor Links
    </div>

    <div class='property'>
      <p>@Html.ActionLink("Back to Flavors", "Index")</p>
      <p>@Html.ActionLink("Edit Flavor", "Edit", new { id = Model.FlavorId })</p>
      <p>@Html.ActionLink("Delete Flavor", "Delete", new { id = Model.FlavorId })</p>
    </div>
  }
</div>