@{
Layout = "_Layout";
}

@model SweetSavory.Models.Treat
<div class='entryLabel'>

  <h4>Add a new Treat</h4>
</div>

<div class='entry'>

  @using (Html.BeginForm())
  {
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

  @* @Html.LabelFor(model => model.Flavor) *@
  @Html.DropDownList("FlavorId")

  <input type="submit" value="Add new Treat" class="btn btn-default" />
  }
</div>
</div>
<p>@Html.ActionLink("Show all Treats", "Index")</p>